<body class="bg-white text-[#1f1f1f]">
    <div class="max-w-6xl mx-auto p-4">
        <div *ngIf="vehicleAvailability?.ownershipType === 'OWNER'"
            class="mb-3 flex text-center items-center text-sm font-semibold text-blue-700">
            Available from
            {{ vehicleAvailability.availableFrom | date:'dd MMM yyyy' }}
            to
            {{ vehicleAvailability.availableTo | date:'dd MMM yyyy' }}
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">

            <!-- Left: Image & Thumbnails -->
            <div class="lg:col-span-1 mt-10">
                <!-- FRAME container -->
                <div class="relative w-full h-64 sm:h-72 md:h-80 lg:h-72 rounded-xl overflow-hidden">
                    <img [src]="selectedImage ? selectedImage : (vehicleDetails?.imagePaths?.length ? 'http://localhost:7188/' + vehicleDetails.imagePaths[0] : '')"
                        class="absolute inset-0 w-full h-full object-cover 
             transition-transform duration-500 ease-in-out hover:scale-110" />
                </div>

                <!-- Thumbnails -->
                <div class="flex flex-wrap gap-4 mt-4">
                    <img *ngFor="let img of vehicleDetails?.imagePaths" [src]=" `http://localhost:7188/`+img"
                        (click)="changeImage(img)" class="w-20 h-14 sm:w-24 sm:h-16 object-cover rounded-lg shadow-md cursor-pointer 
             hover:scale-105 transition-transform duration-300" />
                </div>
            </div>

            <!-- Middle: Car Info -->
            <div class="lg:col-span-1 space-y-4 mt-10">
                <h1 class="text-2xl font-bold">{{ vehicleDetails?.carType }} {{ vehicleDetails?.yearOfManufacture }}
                </h1>
                <p *ngIf="vehicleDetails?.type === 'Car'" class="text-sm text-gray-600">
                    The Car is the high-performance version of the 2 Series 2-door coupé. The first generation of the
                    M2 is the F87 coupé and is powered by turbocharged.
                </p>

                <h2 class="font-semibold text-lg mt-4">Specifications</h2>
                <div class="divide-y divide-gray-200 text-sm">
                    <div class="grid grid-cols-2 py-2 px-5">
                        <div class="text-gray-600 text-left">Vehicle Type</div>
                        <div class="font-semibold text-blue-900 text-center">{{ vehicleDetails?.type }}</div>
                    </div>
                    <div *ngIf="vehicleDetails?.type === 'Car'" class="grid grid-cols-2 py-2 px-5">
                        <div class="text-gray-600 text-left">Vehicle Type</div>
                        <div class="font-semibold text-blue-900 text-center">{{ vehicleDetails?.type || '-' }}</div>
                    </div>

                    <div *ngIf="vehicleDetails?.type === 'Car'" class="grid grid-cols-2 py-2 px-5">
                        <div class="text-gray-600 text-left">Car Name</div>
                        <div class="font-semibold text-blue-900 text-center">{{ vehicleDetails?.carType || '-' }}</div>
                    </div>

                    <div *ngIf="vehicleDetails?.type === 'Bike'" class="grid grid-cols-2 py-2 px-5">
                        <div class="text-gray-600 text-left">Car Name</div>
                        <div class="font-semibold text-blue-900 text-center">{{ vehicleDetails?.bikeType || '-' }}</div>
                    </div>

                    <div class="grid grid-cols-2 py-2 px-5">
                        <div class="text-gray-600 text-left">Registration No</div>
                        <div class="font-semibold text-blue-900 text-center">{{ vehicleDetails?.registrationNo }}</div>
                    </div>

                    <div class="grid grid-cols-2 py-2 px-5">
                        <div class="text-gray-600 text-left">Fuel Type</div>
                        <div class="font-semibold text-blue-900 text-center">{{ vehicleDetails?.fuelType }}</div>
                    </div>

                    <div class="grid grid-cols-2 py-2 px-5">
                        <div class="text-gray-600 text-left">Seating Capacity</div>
                        <div class="font-semibold text-blue-900 text-center">{{ vehicleDetails?.seatingCapacity|| 2 }}
                        </div>
                    </div>

                    <div class="grid grid-cols-2 py-2 px-5">
                        <div class="text-gray-600 text-left">Mileage</div>
                        <div class="font-semibold text-blue-900 text-center">{{ vehicleDetails?.mileage }} km/l</div>
                    </div>

                    <div class="grid grid-cols-2 py-2 px-5">
                        <div class="text-gray-600 text-left">Body Color</div>
                        <div class="font-semibold text-blue-900 text-center">{{ vehicleDetails?.color }}</div>
                    </div>

                    <div class="grid grid-cols-2 py-2 px-5">
                        <div class="text-gray-600 text-left">Year of Manufacture</div>
                        <div class="font-semibold text-blue-900 text-center">{{vehicleDetails?.yearOfManufacture}}</div>
                    </div>

                    <div class="grid grid-cols-2 py-2 px-5">
                        <div class="text-gray-600 text-left">Insurance Status</div>
                        <div class="font-semibold text-blue-900 text-center">{{ vehicleDetails?.insuranceStatus }}</div>
                    </div>

                    <div class="grid grid-cols-2 py-2 px-5">
                        <div class="text-gray-600 text-left">RC Status</div>
                        <div class="font-semibold text-blue-900 text-center">{{ vehicleDetails?.rcStatus }}</div>
                    </div>

                    <div *ngIf="vehicleDetails?.type === 'Car'" class="grid grid-cols-2 py-2 px-5">
                        <div class="text-gray-600 text-left">AC Availability</div>
                        <div class="font-semibold text-blue-900 text-center">{{ vehicleDetails?.acAvailability }}</div>
                    </div>

                    <div class="grid grid-cols-2 py-2 px-5">
                        <div class="text-gray-600 text-left">Fuel Tank Capacity</div>
                        <div class="font-semibold text-blue-900 text-center">{{ vehicleDetails?.fuelTankCapacity }} L
                        </div>
                    </div>

                    <div class="grid grid-cols-2 py-2 px-5">
                        <div class="text-gray-600 text-left">Engine Capacity</div>
                        <div class="font-semibold text-blue-900 text-center">{{ vehicleDetails?.engineCapacity }} CC
                        </div>
                    </div>
                </div>

            </div>

            <!-- Right: Booking Form & Share -->
            <div class="lg:col-span-1 space-y-4 mt-10">
                <div class="bg-gray-200 rounded-xl p-4 text-center flex justify-center gap-6">
                    <div *ngIf="vehicleDetails?.pricePerKm > 0" class="text-sm text-gray-600">
                        <div>Per KM Rate</div>
                        <div class="text-2xl font-bold text-blue-700">₹{{ vehicleDetails.pricePerKm }}</div>
                    </div>
                    <div *ngIf="vehicleDetails?.pricePerHour > 0" class="text-sm text-gray-600">
                        <div>Hourly Rate</div>
                        <div class="text-2xl font-bold text-blue-700">₹{{ vehicleDetails.pricePerHour }}</div>
                    </div>
                    <div *ngIf="vehicleDetails?.pricePerDay > 0" class="text-sm text-gray-600">
                        <div>Daily Rate</div>
                        <div class="text-2xl font-bold text-blue-700">₹{{ vehicleDetails.pricePerDay }}</div>
                    </div>
                </div>

                <form [formGroup]="bookingForm" (ngSubmit)="Booking()">
                    <div class="bg-gray-200 p-6 rounded-xl shadow-md space-y-4">
                        <h3 class="font-semibold text-lg">Booking this car</h3>

                        <!-- Security Amount -->

                        <div>
                            <label class="text-sm font-medium text-gray-700">Security Amount</label>
                            <input type="text" [value]="'₹' + (vehicleDetails?.securityDepositAmount || '')" disabled
                                class="w-full bg-gray-100 border rounded-lg p-2 text-sm cursor-not-allowed" />
                        </div>


                        <!-- Drive Basis Selection -->
                        <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 mb-4">
                            <!-- Hourly -->
                            <label
                                class="cursor-pointer border rounded-lg p-4 text-center transition-all duration-300 ease-in-out flex flex-col items-center hover:bg-red-100 hover:border-red-300"
                                [ngClass]="{
      'bg-red-100 text-gray-800': bookingForm.get('driveBasis')?.value === 'perHour',
      'bg-white text-gray-800': bookingForm.get('driveBasis')?.value !== 'perHour'
    }">
                                <input type="radio" formControlName="driveBasis" value="perHour" class="hidden" />
                                <div class="text-lg font-semibold">Hourly</div>
                                <div class="text-2xl font-bold text-blue-700" *ngIf="vehicleDetails?.pricePerHour > 0">
                                    ₹{{ vehicleDetails.pricePerHour }}
                                </div>
                            </label>

                            <!-- Daily -->
                            <label
                                class="cursor-pointer border rounded-lg p-4 text-center transition-all duration-300 ease-in-out flex flex-col items-center hover:bg-red-100 hover:border-red-300"
                                [ngClass]="{
      'bg-red-100 text-gray-800': bookingForm.get('driveBasis')?.value === 'perDay',
      'bg-white text-gray-800': bookingForm.get('driveBasis')?.value !== 'perDay'
    }">
                                <input type="radio" formControlName="driveBasis" value="perDay" class="hidden" />
                                <div class="text-lg font-semibold">Daily</div>
                                <div class="text-2xl font-bold text-blue-700" *ngIf="vehicleDetails?.pricePerDay > 0">
                                    ₹{{ vehicleDetails.pricePerDay }}
                                </div>
                            </label>

                            <!-- Per KM -->
                            <label
                                class="cursor-pointer border rounded-lg p-4 text-center transition-all duration-300 ease-in-out flex flex-col items-center hover:bg-red-100 hover:border-red-300"
                                [ngClass]="{
      'bg-red-100 text-gray-800': bookingForm.get('driveBasis')?.value === 'perKm',
      'bg-white text-gray-800': bookingForm.get('driveBasis')?.value !== 'perKm'
    }">
                                <input type="radio" formControlName="driveBasis" value="perKm" class="hidden" />
                                <div class="text-lg font-semibold">K/M</div>
                                <div class="text-2xl font-bold text-blue-700" *ngIf="vehicleDetails?.pricePerKm > 0">
                                    ₹{{ vehicleDetails.pricePerKm }}
                                </div>
                            </label>
                        </div>

                        <!-- Conditional Inputs for hours / days -->
                        <div *ngIf="bookingForm.get('driveBasis')?.value === 'perHour'" class="mb-4">
                            <label class="block text-sm font-medium text-gray-700 mb-1">How many hours to drive?</label>
                            <input type="number" min="1" formControlName="hoursToDrive"
                                class="w-full  border rounded-lg p-2  text-sm" />
                        </div>

                        <div *ngIf="bookingForm.get('driveBasis')?.value === 'perDay'" class="mb-4">
                            <label class="block text-sm font-medium text-gray-700 mb-1">How many days to drive?</label>
                            <input type="number" min="1" formControlName="daysToDrive"
                                class="w-full  border rounded-lg p-2  text-sm" />
                        </div>
                        <div *ngIf="bookingForm.get('driveBasis')?.value === 'perKm'" class="mb-4">
                            <label class="block text-sm font-medium text-gray-700 mb-1">How many kilometers to
                                drive?</label>
                            <input type="number" min="1" formControlName="kmsToDrive"
                                class="w-full border rounded-lg p-2 text-sm" />
                        </div>

                        <!-- Pickup Date & Time -->
                        <label class="text-sm font-medium text-gray-700">Pickup Date & Time</label>
                        <div class="flex flex-col sm:flex-row gap-2 mb-2">

                            <!-- <mat-form-field appearance="fill" class="w-full sm:w-1/2 ">
                                <mat-label>Pickup Date</mat-label>
                                <input matInput [matDatepicker]="pickupDatePicker" formControlName="pickupDate"
                                    [min]="minDate" />
                                <mat-datepicker-toggle matSuffix [for]="pickupDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #pickupDatePicker></mat-datepicker>
                            </mat-form-field> -->

                            <mat-form-field appearance="fill" class="w-full sm:w-1/2 ">
                                <mat-label>Pickup Date</mat-label>
                                <input matInput [matDatepicker]="pickupDatePicker" formControlName="pickupDate"
                                    [min]="minDate" [max]="maxDate" [matDatepickerFilter]="isDateAvailable" />
                                <mat-datepicker-toggle matSuffix [for]="pickupDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #pickupDatePicker></mat-datepicker>
                            </mat-form-field>



                            <mat-form-field appearance="fill" class="w-full sm:w-1/2">
                                <mat-label>Pickup Time</mat-label>
                                <input matInput [ngxMatTimepicker]="pickupTimePicker" formControlName="pickupTime"
                                    readonly>
                                <ngx-mat-timepicker #pickupTimePicker></ngx-mat-timepicker>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col sm:flex-row gap-2 mb-4">
                            <div *ngIf="bookingForm.get('pickupDate')?.touched && bookingForm.get('pickupDate')?.invalid"
                                class="text-red-500 text-sm">
                                Pickup Date is required<br>
                            </div>
                            <div *ngIf="bookingForm.get('pickupTime')?.touched && bookingForm.get('pickupTime')?.invalid"
                                class="text-red-500 text-sm">
                                Pickup Time is required<br>
                            </div>
                        </div>

                        <!-- Dropoff Date & Time -->
                        <label class="text-sm font-medium text-gray-700">Dropoff Date & Time</label>
                        <div class="flex flex-col sm:flex-row gap-2 mb-2">

                            <!-- Dropoff Date -->
                            <mat-form-field appearance="fill" class="w-full sm:w-1/2">
                                <mat-label>Dropoff Date</mat-label>
                                <input matInput [matDatepicker]="dropoffDatePicker" formControlName="dropoffDate"
                                    [min]="minDate" [max]="maxDate"
                                    [disabled]="bookingForm.get('driveBasis')?.value !== 'perKm'" />
                                <mat-datepicker-toggle matSuffix [for]="dropoffDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #dropoffDatePicker></mat-datepicker>
                            </mat-form-field>

                            <!-- Dropoff Time -->
                            <mat-form-field appearance="fill" class="w-full sm:w-1/2">
                                <mat-label>Dropoff Time</mat-label>
                                <input matInput [ngxMatTimepicker]="dropoffTimePicker" formControlName="dropoffTime"
                                    readonly [disabled]="bookingForm.get('driveBasis')?.value !== 'perKm'">
                                <ngx-mat-timepicker #dropoffTimePicker></ngx-mat-timepicker>
                            </mat-form-field>

                        </div>
                        <div class="flex flex-col sm:flex-row gap-2">
                            <div *ngIf="bookingForm.get('dropoffDate')?.touched && bookingForm.get('dropoffDate')?.invalid"
                                class="text-red-500 text-sm">
                                Dropoff Date is required
                            </div>
                            <div *ngIf="bookingForm.get('dropoffTime')?.touched && bookingForm.get('dropoffTime')?.invalid"
                                class="text-red-500 text-sm">
                                Dropoff Time is required
                            </div>
                            <div *ngIf="bookingForm.errors?.['minDuration'] && (bookingForm.get('dropoffDate')?.touched || bookingForm.get('dropoffTime')?.touched)"
                                class="text-red-600 text-sm">
                                Please book for at least 1 hour difference between pickup and dropoff.
                            </div>
                        </div>


                        <!-- Submit Button -->
                        <button type="submit" (click)="openModal()" [disabled]="bookingForm.invalid" class="w-full text-white py-2 rounded-lg font-semibold
         bg-gray-500 hover:bg-gray-700 cursor-pointer
         disabled:bg-gray-400 disabled:cursor-not-allowed disabled:hover:bg-gray-400">
                            Book Now
                        </button>
                    </div>
                </form>


                <div *ngIf="vehicleDetails?.type === 'Car'">
                    <h2 class="font-semibold text-lg mt-4">Features</h2>
                    <ul class="list-disc list-inside text-sm font-bold space-y-1 flex ml-3 ">
                        <li class="ml-2">Bluetooth</li>
                        <li class="ml-2">Multimedia Player</li>
                        <li class="ml-2">Central Lock</li>
                    </ul>

                </div>
            </div>
        </div>
        <!-- Modal -->
        <div *ngIf="showModal" class="fixed inset-0 flex items-center justify-center bg-black/50 z-50 p-4">

            <div class="bg-white rounded-xl shadow-xl w-full max-w-2xl p-6 relative">

                <!-- Close -->
                <button (click)="closeModal()"
                    class="absolute top-3 right-3 text-2xl font-bold text-gray-600 hover:text-red-600">
                    &times;
                </button>

                <!-- ================= DRIVER SECTION ================= -->
                <div *ngIf="showDriverSection">

                    <h3 class="text-xl font-semibold mb-4 text-gray-800">
                        Select Driver
                    </h3>

                    <!-- DRIVER LIST -->

                    <ng-container *ngIf="availableDrivers.length > 0; else noDrivers">
                        <div *ngIf="bookingForm.get('driveBasis')?.value === 'perKm'"
                            class="bg-yellow-50 border border-yellow-300 text-yellow-800 p-3 rounded mb-3">
                            ⚠ Per KM booking is allowed only with Driver
                        </div>

                        <!-- Driver Card -->
                        <div *ngFor="let driver of availableDrivers"
                            class="border rounded-lg p-4 mb-3 flex justify-between items-center hover:shadow">

                            <!-- Left -->
                            <div class="flex items-center gap-3">
                                <img [src]="driver.profileImage 
              ? 'http://localhost:7188' + driver.profileImage 
              : 'assets/user.png'" class="w-12 h-12 rounded-full object-cover">

                                <div>
                                    <p class="font-semibold">
                                        {{ driver.firstname }} {{ driver.lastname }}
                                    </p>
                                    <p class="text-sm text-gray-500">
                                        {{ driver.experienceYears }} yrs experience
                                    </p>

                                    <!-- Stars -->
                                    <div class="flex mt-1">
                                        <ng-container *ngIf="driver.reviews?.length > 0; else emptyStars">
                                            <span *ngFor="let i of [1,2,3,4,5]" class="text-yellow-400 text-sm">★</span>
                                        </ng-container>

                                        <ng-template #emptyStars>
                                            <span *ngFor="let i of [1,2,3,4,5]" class="text-gray-300 text-sm">★</span>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>

                            <!-- Right -->
                            <button (click)="onDriverSelect(driver)"
                                class="bg-blue-600 cursor-pointer hover:bg-blue-700 text-white px-4 py-2 rounded">
                                Select
                            </button>
                        </div>

                    </ng-container>

                    <!-- ❌ NO DRIVER MESSAGE -->
                    <ng-template #noDrivers>
                        <div class="text-center py-6 text-red-600 font-semibold">
                            ❌ Sorry, drivers are not available at this time
                        </div>
                    </ng-template>


                    <!-- Skip -->
                    <div class="text-center mt-4">
                        <button (click)="onSkip()" [disabled]="bookingForm.get('driveBasis')?.value === 'perKm'"
                            [ngClass]="{
      'bg-red-600 hover:bg-red-700 cursor-pointer': bookingForm.get('driveBasis')?.value !== 'perKm',
      'bg-gray-300 text-gray-500 cursor-not-allowed': bookingForm.get('driveBasis')?.value === 'perKm'
    }" class="font-semibold py-2 px-6 rounded-md transition duration-300 ease-in-out">
                            Skip & Continue without Driver
                        </button>
                    </div>



                </div>

                <!-- ================= TERMS SECTION ================= -->
                <div *ngIf="showTermsSection">

                    <!-- Tabs -->
                    <div class="flex border-b mb-4">
                        <button (click)="activeTab = 'en'" class="px-4 py-2 font-semibold"
                            [ngClass]="activeTab === 'en' ? 'border-b-2 border-blue-600 text-blue-600' : 'text-gray-500'">
                            English
                        </button>

                        <button (click)="activeTab = 'hi'" class="px-4 py-2 font-semibold"
                            [ngClass]="activeTab === 'hi' ? 'border-b-2 border-blue-600 text-blue-600' : 'text-gray-500'">
                            हिन्दी
                        </button>
                    </div>

                    <!-- English -->
                    <div *ngIf="activeTab === 'en'">
                        <ul class="space-y-2">
                            <li *ngFor="let control of englishTerms.controls; let i=index" class="flex gap-2">
                                <input type="checkbox" class="mt-1" [checked]="control.value"
                                    (change)="onCheckboxChange(i,'en',$event)">
                                <span>{{ englishTexts[i] }}</span>
                            </li>
                        </ul>
                    </div>

                    <!-- Hindi -->
                    <div *ngIf="activeTab === 'hi'">
                        <ul class="space-y-2">
                            <li *ngFor="let control of hindiTerms.controls; let i=index" class="flex gap-2">
                                <input type="checkbox" class="mt-1" [checked]="control.value"
                                    (change)="onCheckboxChange(i,'hi',$event)">
                                <span>{{ hindiTexts[i] }}</span>
                            </li>
                        </ul>
                    </div>

                    <!-- Submit -->
                    <button [disabled]="!allChecked()" (click)="goToPreviewPage()"
                        class="mt-6 w-full bg-gray-700 hover:bg-gray-900 text-white py-2 rounded disabled:opacity-50">
                        Submit
                    </button>

                </div>
            </div>
        </div>



    </div>
</body>