::ng-deep .mat-calendar {
  background-color: #dad8d8;

}

::ng-deep .mat-calendar-table .mat-calendar-body-cell:hover {
  background-color: #dad8d8;

}

::ng-deep .mat-calendar-body-selected {
  background-color: gray;
  color: white;
}

::ng-deep .mat-calendar-header {
  background-color: gray;
  color: white;
}

:host {
  ::ng-deep .mat-datepicker-content {
    background-color: #659aa1 !important;
  }
}

.mat-timepicker-button.mat-button.mat-button-base {
  background-color: red;
  color: white;
}

