<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<section class="flex items-center justify-center md:p-6 p-2 ">
    <!-- Profile Section -->
    <div class="bg-white rounded-lg shadow-xl w-full">
        <!-- Background Header -->
        <div class="bg-gradient-to-r from-gray-600 to-gray-800 text-white p-6 rounded-t-lg">
            <div class="text-center text-2xl font-bold">
                <p>{{ profiledata.firstname }} {{ profiledata.middlename }} {{ profiledata.lastname }}</p>
            </div>
        </div>
        <!-- Profile Info Section -->   
        <div class="flex justify-center items-center md:p-8 p-0">
            <div class="bg-white shadow-lg rounded-lg p-8 w-full space-y-6">
                <!-- Header -->
                <div class="flex flex-col md:flex-row items-start space-x-6 md:space-x-12">
                    <div class="relative group mb-4 md:mb-0">
                        <img [src]="profiledata.image" alt="Profile Picture"
                            class="md:w-52 md:h-52 w-44 h-44 md:rounded-sm rounded-full md: ml-12 border-4 border-gray-600 transition-all duration-300 ease-in-out group-hover:blur-[1px]" />
                        <div
                            class="absolute inset-0 left-10 flex items-center justify-center opacity-0 group-hover:opacity-100 group-hover:bg-none transition-all duration-300">
                            <button type="button" (click)="openImageUploadModal()"
                                class="bg-gray-500 text-white px-2 py-1 text-2xl rounded-full">
                                <i class="fa fa-pencil-alt cursor-pointer"></i>
                            </button>
                        </div>
                    </div>

                    <div class="text-center mb-6 w-full">
                        <!-- <h1 class="md:text-3xl text-2xl font-extrabold text-gray-800">
                            User Name 
                        </h1> -->
                        <!-- Company Details -->
                        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 text-left mx-4 mt-10">
                            <div class="space-y-2">
                                <p class="text-gray-800 font-semibold">Full Name:- <span class="text-gray-600"> {{ profiledata.firstname }} {{ profiledata.middlename }} {{ profiledata.lastname }}</span>
                                </p>
                            </div>
                            <div class="space-y-2">
                                <p class="text-gray-800 font-semibold">Age:- <span class="text-gray-600">{{profiledata.age}}</span></p>
                            </div>
                            <div class="space-y-2">
                                <p class="text-gray-800 font-semibold">Gender:- <span class="text-gray-600">{{profiledata.gender}}</span>
                                </p>
                            </div>
                            <div class="space-y-2">
                                <p class="text-gray-800 font-semibold">Phone No:- <span
                                        class="text-gray-600">{{profiledata.phone}}</span></p>
                            </div>
                            <div class="space-y-2">
                                <p class="text-gray-800 font-semibold">State:- <span class="text-gray-600">{{profiledata.state}}</span>
                                </p>
                            </div>
                            <div class="space-y-2">
                                <p class="text-gray-800 font-semibold">City:- <span class="text-gray-600">{{profiledata.city}}</span>
                                </p>
                            </div>
                            <div class="space-y-2">
                                <p class="text-gray-800 font-semibold">Email:- <span
                                        class="text-gray-600">{{profiledata.email}}</span></p>
                            </div>
                            <div class="space-y-2">
                                <p class="text-gray-800 font-semibold">Address:- <span
                                        class="text-gray-600">{{profiledata.address}}</span></p>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Modal for File Upload -->
                <div *ngIf="isImageUploadModalOpen"
                    class="modal fixed inset-0 z-50 flex justify-center items-center transition-all duration-300 ease-in-out">
                    <div
                        class="bg-white p-6 rounded-lg w-96 relative shadow-2xl scale-105 transition-transform duration-300 ease-in-out">
                        <button type="button" (click)="closeImageUploadModal()"
                            class="absolute top-2 right-2 text-gray-600 hover:text-gray-900 transition-colors duration-200">
                            <i class="fa fa-times cursor-pointer"></i>
                        </button>

                        <h2 class="text-2xl font-semibold text-gray-800 mb-6 text-center">Upload New Image</h2>
                        <form enctype="multipart/form-data" class="space-y-4">
                            <div>
                                <label for="uploadedFile" class="block text-gray-700 font-medium mb-2">Select
                                    Image</label>
                                <input type="file" id="uploadedFile" required="true"
                                    class="w-full border-2 border-gray-300 p-2 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-500 transition-all duration-200" />
                            </div>
                            <div class="flex justify-center items-center mt-6">
                                <button type="button"
                                    class="bg-gray-600 text-white py-3 px-6 rounded-lg hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 transition-all duration-300">
                                    Upload Image
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit Profile Section -->
        <div class="border-t-2 border-gray-300 w-full"></div>

        <div class="bg-white rounded-lg shadow-lg w-full p-6">
            <div class="flex justify-between items-center space-x-4">
                <h2 class="text-xl font-semibold text-gray-800">Edit User Profile</h2>
                <button type="button" (click)="openEditProfileModal()"
                    class="text-gray-600 hover:text-gray-800 text-xl">
                    <i class="fas fa-edit"></i> Edit
                </button>
            </div>
        </div>
    </div>

    <!-- Modal for User Profile Edit -->
    <div *ngIf="isEditProfileModalOpen" class="modal fixed inset-0  top-10 bg-opacity-50 z-50 ">
        <div class="flex  items-center justify-center">
            <div class="bg-white text-gray-800 rounded-lg w-11/12 md:w-1/2 p-8 shadow-lg relative">
                <button type="button" (click)="closeEditProfileModal()"
                    class="absolute top-2 right-2 text-gray-600 hover:text-gray-800 text-2xl">
                    <i class="fas fa-times"></i>
                </button>
                <h2 class="text-2xl font-bold mb-6 text-gray-800">Edit User Profile</h2>

                <!-- Form Grid -->

                <form class="w-full max-w-3xl mx-auto bg-white p-8 rounded-md shadow-md relative z-10">
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6">
                        <div>
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="fname">First Name</label>
                            <input
                                class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
                                type="text" id="fname" name="fname" placeholder="Enter First Name"
                                formControlName="FristName">
                            <!-- <span class="text-red-500"
                          *ngIf="FristName.errors?.['required'] && (FristName.touched || FristName.dirty)">Please Enter
                          FristName</span>
                        <span class="text-red-500"
                          *ngIf="FristName.errors?.['pattern'] && (FristName.touched || FristName.dirty)">Invalid Name</span>
               -->
                        </div>

                        <div>
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="mname">Middle Name</label>
                            <input
                                class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
                                type="text" id="mname" name="mname" placeholder="Middle Name"
                                formControlName="MiddleName">
                            <!-- <span class="text-red-500"
                          *ngIf="MiddleName.errors?.['pattern'] && (MiddleName.touched || MiddleName.dirty)">Invalid Name</span> -->
                        </div>

                        <div>
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="lname">Last Name</label>
                            <input
                                class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
                                type="text" id="lname" name="lname" placeholder="Last Name" formControlName="LastName">
                            <!-- <span class="text-red-500"
                          *ngIf="LastName.errors?.['required'] && (LastName.touched || LastName.dirty)">Please Enter LastName</span>
                        <span class="text-red-500"
                          *ngIf="LastName.errors?.['pattern'] && (LastName.touched || LastName.dirty)">Invalid Name</span>
               -->
                        </div>
                    </div>

                    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6">
                        <div>
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="age">Age</label>
                            <input
                                class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
                                type="text" id="age" name="age" placeholder="Enter Your Age" formControlName="Age">
                            <!-- <span class="text-red-500" *ngIf="Age.errors?.['required'] && (Age.touched || Age.dirty)">Please Enter Your
                          Age</span>
                        <span class="text-red-500" *ngIf="Age.errors?.['pattern'] && (Age.touched || Age.dirty)">Enter Only
                          Digit</span> -->

                        </div>

                        <div>
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="gender">Gender</label>
                            <select
                                class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
                                id="gender" name="gender" formControlName="Gender">
                                <option selected disabled>Select your Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>
                            <!-- <span class="text-red-500" *ngIf="Gender.errors?.['required'] && (Gender.touched || Gender.dirty)">Please
                          Select Your Gender</span>
               -->
                        </div>

                        <div>
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="phone">Phone No</label>
                            <input type="text"
                                class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
                                id="phone" name="phone" placeholder="Enter Phone" formControlName="Phone_No">
                            <!-- <span class="text-red-500"
                          *ngIf="Phone_No.errors?.['required'] && (Phone_No.touched || Phone_No.dirty)">Please Enter
                          Phone_Number</span>
                        <span class="text-red-500" *ngIf="Phone_No.errors?.['pattern'] && (Phone_No.touched || Phone_No.dirty)">Enter
                          only Digit</span>
                        <span class="text-red-500"
                          *ngIf="Phone_No.errors?.['minlength'] && (Phone_No.touched || Phone_No.dirty)">Mobile Number Is Short</span>
                        <span class="text-red-500"
                          *ngIf="Phone_No.errors?.['maxlength'] && (Phone_No.touched || Phone_No.dirty)">maximum 10 Digit</span>
               -->
                        </div>
                    </div>

                    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6">
                        <div>
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="state">State</label>
                            <input
                                class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
                                id="state" name="state" placeholder="Select State" formControlName="State">
                            <!-- <span class="text-red-500" *ngIf="State.errors?.['required'] && (State.touched || State.dirty)">Please Select
                          Your State</span>
               -->
                        </div>
                        <div>
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="city">City</label>
                            <input
                                class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
                                type="text" id="city" name="city" placeholder="City" formControlName="city">
                            <!-- <span class="text-red-500" *ngIf="city.errors?.['required'] && (city.touched || city.dirty)">Please Select
                          Your City</span> -->
                        </div>

                        <div>
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
                            <input
                                class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
                                type="email" id="email" name="email" required placeholder="Enter Email"
                                formControlName="Email">
                            <!-- <span class="text-red-500" *ngIf="Email.errors?.['required'] && (Email.touched || Email.dirty)">Please Enter
                          Email</span>
                        <span class="text-red-500" *ngIf="Email.errors?.['email'] && (Email.touched || Email.dirty)">Please Enter
                          Email</span>
                        <span class="text-red-500" *ngIf="emailError">{{emailError}}</span> -->

                        </div>
                    </div>

                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
                        <div>
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="image">Profile
                                Picture</label>
                            <input
                                class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
                                type="file" id="image" name="image" formControlName="Profile_Picture">
                            <!-- <span class="text-red-500" *ngIf="Profile_Picture.errors?.['required'] && Profile_Picture.touched">Please
                          Upload Profile Picture</span> -->
                        </div>

                        <div>
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="address">Address</label>
                            <textarea
                                class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
                                id="address" name="address" placeholder="Enter Address"
                                formControlName="Address"></textarea>
                            <!-- <span class="text-red-500" *ngIf="Address.errors?.['required'] && Address.touched">Please Enter Address</span> -->
                        </div>
                    </div>
                    <button
                        class=" bg-gray-600 w-full text-white py-3 px-6 rounded-lg hover:bg-gray-700 text-sm font-bold  transition duration-300"
                        type="button" name="sign">Register</button>
                </form>
            </div>
        </div>
    </div>

    
</section>