/* Hide scrollbar but allow scrolling */
.hide-scrollbar {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;                /* Chrome, Safari, Opera */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}