<section>
  <div class="min-h-screen flex flex-col antialiased  bg-slate-100 ">

    <!-- Header -->
    <div class="fixed w-full flex items-center justify-between h-14 bg-slate-800 text-white z-20 shadow-md px-4">
      <div class="flex items-center space-x-4">
        <!-- Sidebar toggle for mobile -->
        <button id="toggleSidebarBtn" (click)="toggleSidebar()" class="md:hidden focus:outline-none">
          <i class="fa-solid fa-bars text-xl"></i>
        </button>
        <span class="hidden md:block font-semibold text-lg tracking-wide">Admin Dashboard</span>
      </div>
      <ul class="flex items-center space-x-4">
        <li>
          <div class="w-px h-6 bg-slate-400"></div>
        </li>
        <li>
          <p (click)="logout()" class="cursor-pointer flex items-center hover:text-blue-300 transition duration-200">
            <i class="fa-solid fa-right-from-bracket mr-2"></i> Logout
          </p>
        </li>
      </ul>
    </div>

    <!-- Sidebar -->
    <div id="sidebar" [class.-translate-x-full]="!isSidebarOpen" class="fixed top-14 left-0 w-64
         h-[calc(100vh-3.5rem)]
         overflow-y-auto scrollbar-hide
         bg-slate-900 text-white z-30
         transform transition-transform duration-300 ease-in-out
         -translate-x-full md:translate-x-0">

      <div class="flex flex-col justify-between grow">
        <ul class="flex flex-col py-4 space-y-1">



          <!-- Add Vehicle -->
          <a routerLink="/admin-dashboard/a_addvehicle"
            routerLinkActive="bg-gray-600 text-indigo-300 border-l-4 border-indigo-500" class="relative flex items-center h-11 px-4 pr-6
               border-l-4 border-transparent
               hover:bg-gray-600 hover:text-indigo-300 hover:border-indigo-500
               transition-all duration-200 cursor-pointer">
            <i class="fa-solid fa-plus w-5 text-sm"></i>
            <span class="ml-3 text-sm truncate">Add Vehicle</span>
          </a>

          <!-- Manage Vehicles -->
          <a routerLink="/admin-dashboard" [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="bg-gray-600 text-indigo-300 border-l-4 border-indigo-500" class="relative flex items-center h-11 px-4 pr-6
               border-l-4 border-transparent
               hover:bg-gray-600 hover:text-indigo-300 hover:border-indigo-500
               transition-all duration-200 cursor-pointer">
            <i class="fa-solid fa-car w-5 text-sm"></i>
            <span class="ml-3 text-sm truncate">Manage Vehicles</span>
          </a>

          <!-- Contact Messages -->
          <a routerLink="/admin-dashboard/ContachMeaaage"
            routerLinkActive="bg-gray-600 text-indigo-300 border-l-4 border-indigo-500" class="relative flex items-center h-11 px-4 pr-6
               border-l-4 border-transparent
               hover:bg-gray-600 hover:text-indigo-300 hover:border-indigo-500
               transition-all duration-200 cursor-pointer">
            <i class="fa-solid fa-envelope w-5 text-sm"></i>
            <span class="ml-3 text-sm truncate">Contact Messages</span>
          </a>

          <!-- Conversations -->
          <a routerLink="/admin-dashboard/Admin-Chat"
            routerLinkActive="bg-gray-600 text-indigo-300 border-l-4 border-indigo-500" class="relative flex items-center h-11 px-4 pr-6
               border-l-4 border-transparent
               hover:bg-gray-600 hover:text-indigo-300 hover:border-indigo-500
               transition-all duration-200 cursor-pointer">
            <i class="fa-solid fa-comments w-5 text-sm"></i>
            <span class="ml-3 text-sm truncate">Conversations</span>
          </a>

          <!-- USER PANEL -->
          <li>
            <div (click)="userPanelOpen = !userPanelOpen" class="flex items-center justify-between h-11 px-4 cursor-pointer
                 hover:bg-gray-600 hover:text-indigo-300
                 border-l-4 border-transparent hover:border-indigo-500">
              <div class="flex items-center">
                <i class="fa-solid fa-user w-5 text-sm"></i>
                <span class="ml-3 text-sm">User Panel</span>
              </div>
              <i class="fa-solid fa-chevron-down text-xs transition-transform"
                [ngClass]="{ 'rotate-180': userPanelOpen }"></i>
            </div>

            <ul *ngIf="userPanelOpen" class="pl-10 py-1 text-sm space-y-1 text-gray-300">

              <a routerLink="/admin-dashboard/bookingrequest" routerLinkActive="bg-gray-700 text-indigo-300"
                class="flex items-center p-2 rounded hover:bg-gray-700">
                <i class="fa-solid fa-calendar-check mr-2"></i>
                Booking Requests
              </a>

              <a routerLink="/admin-dashboard/Returnvehicle_check" routerLinkActive="bg-gray-700 text-indigo-300"
                class="flex items-center p-2 rounded hover:bg-gray-700">
                <i class="fa-solid fa-clipboard-check mr-2"></i>
                Return Vehicle Check
              </a>

              <a routerLink="/admin-dashboard/Damagecharges" routerLinkActive="bg-gray-700 text-indigo-300"
                class="flex items-center p-2 rounded hover:bg-gray-700">
                <i class="fa-solid fa-gas-pump mr-2"></i>
                Fuel & Damage Charges
              </a>

              <a routerLink="/admin-dashboard/securitydepositrefaund" routerLinkActive="bg-gray-700 text-indigo-300"
                class="flex items-center p-2 rounded hover:bg-gray-700">
                <i class="fa-solid fa-sack-dollar mr-2"></i>
                Security Refunds
              </a>

              <a routerLink="/admin-dashboard/Feesback" routerLinkActive="bg-gray-700 text-indigo-300"
                class="flex items-center p-2 rounded hover:bg-gray-700">
                <i class="fa-solid fa-comments mr-2"></i>
                User Feedback
              </a>
            </ul>
          </li>
          <!-- OWNER PANEL -->
          <li>

            <!-- Owner Panel Header -->
            <div (click)="ownerPanelOpen = !ownerPanelOpen" class="flex items-center justify-between cursor-pointer h-11 px-4
           hover:bg-gray-600 hover:text-indigo-300
           border-l-4 border-transparent hover:border-indigo-500
           transition-all duration-300">

              <div class="flex items-center">
                <i class="fa-solid fa-user-tie w-5 text-sm"></i>
                <span class="ml-3 text-sm">Owner Panel</span>
              </div>

              <i class="fa-solid fa-chevron-down text-xs transition-transform"
                [ngClass]="{ 'rotate-180': ownerPanelOpen }">
              </i>
            </div>

            <!-- Owner Panel Menu -->
            <ul *ngIf="ownerPanelOpen" class="pl-10 py-1 text-sm space-y-1 text-gray-300">

              <!-- Verify Owners -->
              <a routerLink="/admin-dashboard/verify-owners"
                routerLinkActive="bg-gray-700 text-indigo-300 border-l-4 border-indigo-500" class="flex items-center p-2
             border-l-4 border-transparent
             hover:bg-gray-700 hover:text-indigo-300 hover:border-indigo-500
             transition-all duration-200 rounded-r">
                <i class="fa-solid fa-user-check mr-2"></i>
                Verify Owners
              </a>

              <!-- Approve Owner -->
              <a routerLink="/admin-dashboard/approve-owner"
                routerLinkActive="bg-gray-700 text-indigo-300 border-l-4 border-indigo-500" class="flex items-center p-2
             border-l-4 border-transparent
             hover:bg-gray-700 hover:text-indigo-300 hover:border-indigo-500
             transition-all duration-200 rounded-r">
                <i class="fa-solid fa-coins mr-2"></i>
                Approve Owner
              </a>

              <!-- Pay Owners -->
              <a routerLink="/admin-dashboard/pay-owners"
                routerLinkActive="bg-gray-700 text-indigo-300 border-l-4 border-indigo-500" class="flex items-center p-2
             border-l-4 border-transparent
             hover:bg-gray-700 hover:text-indigo-300 hover:border-indigo-500
             transition-all duration-200 rounded-r">
                <i class="fa-solid fa-credit-card mr-2"></i>
                Pay to Owners
              </a>

            </ul>
          </li>


          <li>
            <!-- Driver Panel Header -->
            <div (click)="driverPanelOpen = !driverPanelOpen" class="flex items-center justify-between cursor-pointer h-11 px-4
           hover:bg-gray-600 hover:text-indigo-300
           border-l-4 border-transparent hover:border-indigo-500
           transition-all duration-300">

              <div class="flex items-center">
                <i class="fa-solid fa-user-tie w-5 text-sm"></i>
                <span class="ml-3 text-sm">Driver Panel</span>
              </div>

              <i class="fa-solid fa-chevron-down text-xs transition-transform"
                [ngClass]="{ 'rotate-180': driverPanelOpen }">
              </i>
            </div>

            <!-- Driver Panel Menu -->
            <ul *ngIf="driverPanelOpen" class="pl-10 py-1 text-sm space-y-1 text-gray-300">

              <!-- Driver Requests -->
              <a routerLink="/admin-dashboard/driverrequest"
                routerLinkActive="bg-gray-700 text-indigo-300 border-l-4 border-indigo-500" class="flex items-center p-2
             border-l-4 border-transparent
             hover:bg-gray-700 hover:text-indigo-300 hover:border-indigo-500
             transition-all duration-200 rounded-r">
                <i class="fa-solid fa-user-plus mr-2"></i>
                Driver Requests
              </a>

              <!-- Verify Drivers -->
              <a routerLink="/admin-dashboard/verify-drivers"
                routerLinkActive="bg-gray-700 text-indigo-300 border-l-4 border-indigo-500" class="flex items-center p-2
             border-l-4 border-transparent
             hover:bg-gray-700 hover:text-indigo-300 hover:border-indigo-500
             transition-all duration-200 rounded-r">
                <i class="fa-solid fa-user-check mr-2"></i>
                Verify Drivers
              </a>

              <!-- Ongoing Trips -->
              <a routerLink="/admin-dashboard/ongoing-trips"
                routerLinkActive="bg-gray-700 text-indigo-300 border-l-4 border-indigo-500" class="flex items-center p-2
             border-l-4 border-transparent
             hover:bg-gray-700 hover:text-indigo-300 hover:border-indigo-500
             transition-all duration-200 rounded-r">
                <i class="fa-solid fa-route mr-2"></i>
                Ongoing Trips
              </a>

              <!-- Driver Payments -->
              <a routerLink="/admin-dashboard/driver-payments"
                routerLinkActive="bg-gray-700 text-indigo-300 border-l-4 border-indigo-500" class="flex items-center p-2
             border-l-4 border-transparent
             hover:bg-gray-700 hover:text-indigo-300 hover:border-indigo-500
             transition-all duration-200 rounded-r">
                <i class="fa-solid fa-money-bill-wave mr-2"></i>
                Driver Payments
              </a>
            </ul>
          </li>
        </ul>

        <p class="mb-14 px-5 py-3 hidden md:block text-center text-xs text-slate-400">
          Copyright EZRide 2025
        </p>
      </div>
    </div>

    <!-- Main Content -->
    <div class="content overflow-y-scroll px-5  md:ml-64 h-screen pt-14 hide-scrollbar">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>