.slider-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 1.0s ease-in-out;
}

.slider-image {
  width: 100%;
  flex-shrink: 0;
  object-fit: cover;
  height: 100%;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.4);
  color: white;
  font-size: 2rem;
  border: none;
  padding: 0 12px;
  cursor: pointer;
  border-radius: 20%;
  user-select: none;
  z-index: 10;
}

.left-2 {
  left: 8px;
}

.right-2 {
  right: 8px;
}
.modal-scroll-hidden::-webkit-scrollbar {
  display: none;
}

.modal-scroll-hidden {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}
